@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --darkGray: #333333;
  --gray: #555555;
  --lightGray: #727272;
  --green: #09d977;
  --darkBlue: #3f3d56;
  --blue: #0898dd;
  --lightBlue: #0fbdca;
  --bannerWidth: 300px;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--gray);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove Black outline on chrome */
*:focus {
  outline: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 20px 1fr;
  max-width: 1280px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin: 25px 0;
}

.navbar h1 {
  font-size: 1.7rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 105px);
  gap: 15px;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.menu .item {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--lightGray);
  padding: 5px 15px;
  text-transform: capitalize;
  border-radius: 20px;
  transition: all 0.7s;
}

.menu .item:hover,
.item:nth-child(2) {
  background-color: var(--green);
  color: white;
  cursor: pointer;
}

/* Featured */
.featured {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 350px;
  justify-items: flex-start;
  align-items: center;
}

.featuredDesc .title {
  font-size: 2.7rem;
  font-weight: 900;
  color: var(--darkGray);
  margin-top: 25px;
}

.featuredDesc .desc {
  font-size: 1rem;
  font-weight: bold;
  width: 250px;
  color: var(--lightGray);
  margin: 20px 0;
}

.featuredDesc button {
  border: 2px solid var(--green);
  background-color: var(--green);
  padding: 6px 35px;
  border-radius: 20px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.7s;
}

.featuredDesc button:hover {
  background-color: white;
  border-color: var(--green);
  color: var(--green);
  cursor: pointer;
}

/* Cards */
.cards {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card {
  display: grid;
  align-items: flex-end;
  justify-items: center;
  grid-template-rows: 150px 1fr;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  transition: transform 0.2s;
  border: 1px solid rgb(236, 236, 236);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 7px -1px #09d978be;
  cursor: pointer;
}

.card svg {
  width: 80%;
}

.card .title {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--darkGray);
}

.card .other {
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: var(--green);
}

/* Banner */
.banner {
  background-image: linear-gradient(var(--green), var(--darkBlue));
}

/* Section */
/* Profile */
.profile-top {
  display: grid;
  grid-template-areas:
    'name image'
    'profile-bot profile-bot'
    'activities-details activities-details';
  margin: 25px 0 0 0;
  align-items: center;
  row-gap: 155px;
}

.user-name {
  font-size: 1.7rem;
  grid-area: name;
}

.user-image {
  grid-area: image;
  justify-self: flex-end;
  width: 50px;
  border-radius: 100%;
}

.profile-bot {
  grid-area: profile-bot;
  display: grid;
}
.profile-bot .title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--lightGray);
}

.profile-bot .text {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--gray);
  margin: 25px 0;
}

.profile-bot svg {
  width: 40px;
}

/* Activities details */
.activities-details {
  grid-area: activities-details;
  justify-self: center;
  margin-top: -50px;
}

.activity .activity-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity .activity-title .activity-title-container {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.activities-details .activity:nth-child(1) .activity-title {
  color: var(--lightBlue);
}

.activities-details .activity:nth-child(2) .activity-title {
  color: var(--green);
}

.activities-details .activity:nth-child(3) .activity-title {
  color: var(--blue);
}

.activity .activity-title svg {
  width: 25px;
  margin-right: 10px;
}

.activities-details .activity-banner {
  position: relative;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  height: 20px;
  width: var(--bannerWidth);
}

.activities-details .activity-banner::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

.activities-details .activity:nth-child(1) .activity-banner::before {
  right: calc(var(--bannerWidth) - (85px * 3));
  background-color: var(--lightBlue);
}

.activities-details .activity:nth-child(2) .activity-banner::before {
  right: calc(var(--bannerWidth) - (65px * 3));
  background-color: var(--green);
}

.activities-details .activity:nth-child(3) .activity-banner::before {
  right: calc(var(--bannerWidth) - (50px * 3));
  background-color: var(--blue);
}
